<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="icon" href="https://image.flaticon.com/icons/svg/547/547855.svg" type="image/svg">

    <title>Internal Server Error</title>
    <style>
        #img{
            height:50vh;
            width:auto;
            padding: 1%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h1{
            padding: 4%;
        }
    </style>
  </head>
  <body>
    <h1 class='text-center'>There was an Internal Server Error !</h1>
    <img src="../static/images/500.svg" class="img-fluid text-center" alt="Not Found" id='img'>
    <h1 class='text-center'>Please Refresh or Try Again in a While !</h1>
  </body>
</html>
