<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/896fee2659.js" crossorigin="anonymous"></script>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/547/547855.svg" type="image/svg">

    <title>AvailableCourses</title>
  </head>
  <body>
    <header>
        <ul class="nav bg-dark" style='padding : 0.5%'>
            <li class="nav-item">
              <a class="nav-link active text-white" href="/">Home</a>
            </li>
            <li class="nav-item px-2">
                <button class="btn btn-secondary" type="button" onclick="window.location.href='https://classroom.google.com/'" title="Google Classroom"><i class="fas fa-chalkboard"></i></button>
              </li>
              <li class="nav-item px-2">
                <button class="btn btn-secondary" type="button" onclick="window.location.href='https://mail.google.com/mail/u/1/#inbox'" title="Gmail"><i class="fas fa-envelope-open-text"></i></button>
              </li>
              <li class="nav-item px-2">
                <button class="btn btn-secondary" type="button" onclick="window.location.href='https://www.iith.ac.in/'" title="IITH Home"><i class="fas fa-home"></i></button>
              </li>
          </ul>
    </header>
    {% for sem in semesters %}
    <div class="list-group">
        <hr>
        <h1 class='text-center'>Semester {{ sem.id }}</h1>
        {% for course in sem.courses %}
        <a href="/{{ sem.id }}/{{ course['course_id'] }}" class="list-group-item list-group-item-action text-center">{{ course['course_id'] }} : {{ course['course_title'] }}</a>
        {% endfor %}
      </div>
      {% endfor %}
      <hr>
      <footer class="bg-dark py-5 text-muted text-center">
        <div class="container">
          <div class="btn-group btn-group-lg my-3" role="group" aria-label="footer">
              <button type="button" class="btn btn-secondary"><i class="fab fa-google"></i></button>
              <button type="button" class="btn btn-secondary"><i class="fab fa-google-drive"></i></button>
              <button type="button" class="btn btn-secondary"><i class="far fa-calendar-alt"></i></button>
              <button type="button" class="btn btn-secondary"><i class="fas fa-file"></i></button>
          </div>
          <small>
              <p>&copy; Engineering Physics 2019</p>
              <p><em>&ldquo;  To boldly go where no man has gone before! &rdquo;</em></p>
          </small>
      <p><img class="img-fluid" src="../static/images/logo.png" style="height: 2cm;"></p>
      </div>
      </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
